<app-header></app-header>
  <app-banner 
    [bannerTitle]="(bannerDetials$ | async)?.original_title" 
    [bannerOverview]="(bannerDetials$ | async)?.overview"
    [key]="(bannerVideo$ | async)?.results[10].key">
  </app-banner>
<app-movie-carousel [videoContents]="movies" [title]="'Popular on Netflix'" />
<app-movie-carousel [videoContents]="tvShows" [title]="'Trending TV Shows'" />
<app-movie-carousel [videoContents]="nowPlayingMovies" [title]="'Now Playing Movies'" />
<app-movie-carousel [videoContents]="popularMovies" [title]="'Popular Movies'" />
<app-movie-carousel [videoContents]="topRatedMovies" [title]="'Top Rated Movies'" />
<app-movie-carousel [videoContents]="upcomingMovies" [title]="'Upcoming Movies'" />
